@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
nav{
    text-align: right;
    background-color: #004C75;
    height: 50px;
}
nav li{
    display: inline;
    list-style: none;
    padding: 5px;
    font-size: 30px;
    text-align: center;
}
nav li a{
    text-decoration: none;
   color: white;
}

.form{
    display: flex;
    padding-top: 3%;
    padding-left: 6%;
}
.label{
    font-size: 25px;
    font-family: 'Salsa', cursive;

}
  input[type=text], select, textarea {
    width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #004C75;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 25%; 
}
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
 
  .container {
    border-radius: 5px;
    background-color: #5BBCF0;
    padding: 20px;
    width: 600px;
    height: 500px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  h2{
      text-align: center;
      font-family: 'Salsa', cursive;
      font-size: 50px;
  }
  .gif{
      padding-left: 30%;
  }

  h1{position: absolute;
    color: rgb(244, 236, 236);
    bottom: -60%;
    left: 0%;
    }
    .hello{
        position: absolute;
        right:70%;
        bottom:-67%;
        color: rgb(239, 232, 232);
    }
    .hi {
        position: absolute;
        right: 20%;
        bottom:-60%;
        color: rgb(236, 228, 228);

        
    }
    .footer{
        background-color:#004c75;
         padding-block-start: 10%;
         margin-bottom: -0%;
         margin-top:  150px;
    
     
      /* position: absolute;
      left: 0;
      bottom: -20px;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
         */
         
         
    }
    
    .fa fa-google {
        padding: 10px;
        font-size: 30px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        
      }
    
    .fa:hover {
        opacity: 0.7;
       
    }
    
    .fa-google {
        color: white;
        width: 1%;
        border-radius: 3px;
        
      }
    .email{
        margin-left: 15px;
        padding-top: -120px;
        color:white;
        margin-top: -8%;
    }